/* Style the code block background and text */
div.my-special-block {
    background-color: #000088;
    color: #000000;
    border-radius: 0px;
    padding: 0px;
}

/* Also style the <pre> inside the block */
div.my-special-block pre {
    background: #eeeeee;
    color: inherit;
}

/* Override Pygments token coloring if needed */
div.my-special-block span {
    background: transparent !important; /* kill inline bg */
    /*color: inherit !important; */
}

/* Define colors for inline code; see conf.py */
code.code-gray,
.code-gray code,
literal.code-gray {
    color: #888888 !important;
    font-weight: bold !important;
    background-color: inherit !important;
}

code.code-red,
.code-red code,
literal.code-red {
    color: #FF0000 !important;
    font-weight: bold !important;
    background-color: inherit !important;
}

code.code-darkred,
.code-darkred code,
literal.code-darkred {
    color: #880000 !important;
    font-weight: bold !important;
    background-color: inherit !important;
}

code.code-green,
.code-green code,
literal.code-green {
    color: #008800 !important;
    font-weight: bold !important;
    background-color: inherit !important;
}

code.code-blue,
.code-blue code,
literal.code-blue {
    color: #0000FF !important;
    font-weight: bold !important;
    background-color: inherit !important;
}

code.code-magenta,
.code-magenta code,
literal.code-magenta {
    color: #FF00FF !important;
    font-weight: bold !important;
    background-color: inherit !important;
}

